:root {
  --primary-color: hsl(197, 63%, 42%);
  --primary-color-light: hsl(187, 100%, 36%);
  --secondary-color: hsl(176, 100%, 38%);
  --ternary-color: hsl(153, 62%, 59%);
  --ternary-color-light: hsl(100, 73%, 72%);
  --highlight-color: hsl(60, 92%, 71%);
  --white: hsl(0, 0%, 100%);
  --balck: hsl(0, 0%, 0%);
  --color: linear-gradient(hsl(187, 100%, 36%), hsl(153, 62%, 59%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    var(--primary-color),
    var(--ternary-color)
  );
  background-size: cover;
  background-position: center;
}

/* navbar */
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 8vw;
  background-color: var(--white);
  box-shadow: 0px 10px 10px var(--secondary-color);
  position: sticky;
  z-index: 10;

  /* logo */
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    height: auto;
    width: 30vw;
    padding: 0;

    img {
      height: 10%;
      width: 10%;
    }

    h3 {
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.5vw;
    }
  }

  /* navbar options */
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      position: relative; /* Required for dropdown positioning */
      padding: 1vw 2vw;
      color: var(--primary-color);
      font-weight: bold;

      a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: bold;
      }

      /* Dropdown styles */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--white);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1;
        /* margin-top: 10px; */

        a {
          display: block;
          padding: 1vw 2vw;
          color: var(--primary-color);
          text-decoration: none;
          font-weight: normal;
          white-space: nowrap;

          &:hover {
            background-color: var(--ternary-color);
            color: white;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }

  /* CTA Button Styling */
  button {
    border: 2px solid;
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    transition: 0.4s ease-in-out;

    &:hover {
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      border: 2px solid var(--secondary-color);
    }
  }
}

/*  hero content styling */
.content {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  position: relative;
}

/* left content */
.left {
  height: 100%;
  width: 50%;
  padding: 7vw 8vw;
}

.left h1 {
  font-size: 5vw;
  line-height: 5vw;
}

.left h1 span {
  color: var(--highlight-color);
}

.left p {
  font-size: 1.2vw;
  font-weight: 600;
  color: var(--white);
  width: 90%;
  margin-top: 3vw;
  margin-bottom: 4vw;
}

/* right contnet or image */
.right {
  height: 100%;
  width: 50%;

  .circle {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.1);
    border-radius: 69% 31% 70% 30% / 56% 58% 42% 44%;

    img {
      height: 100%;
      width: 80%;
    }
  }
}

/* tabs conatainer */
.tab-container {
  width: 100vw;
  margin: auto;
  background-color: #fff;
  padding: 2vw 8vw;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */

  .tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;

    li {
      list-style: none;
      text-align: center;
      cursor: pointer;
      padding: 10px;
      border: 1px solid transparent;
      transition: background-color 0.3s ease;

      i {
        font-size: 24px;
        display: block;
        margin-bottom: 5px;
      }

      span {
        font-size: 1.2vw;
      }

      &.active {
        border-bottom: 2px solid var(--ternary-color);
        /* color: #000; */
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2vw;
      }

      &:hover {
        background-color: #00c2b54e;
      }
    }
  }

  .tab-content {
    display: none;
    /* padding: 20px; */
    margin-top: 10px;

    &.active {
      display: block;
    }
  }
}

.transformation-content {
  width: 100%;
  height: 100vh;
  padding: 4vw 8vw;

  h1 {
    color: #e60000;
    text-align: center;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5vw;
  }

  .description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #625a71;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;

    .image-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;

      .kitten-image {
        max-height: 60vh;
        max-width: 100%;
        object-fit: contain;
      }

      .circle {
        position: absolute;
        background-image: linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 12px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &.circle1 {
          top: 15%;
          left: 55%;
        }

        &.circle2 {
          top: 40%;
          left: 25%;
        }

        &.circle3 {
          top: 50%;
          right: 20%;
        }

        &.circle4 {
          bottom: 10%;
          left: 30%;
        }

        &.circle5 {
          bottom: 5%;
          right: 25%;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 60%;

      .info {
        font-size: 1rem;
        color: #333;

        h2 {
          background: -webkit-linear-gradient(
            var(--primary-color),
            var(--ternary-color)
          );
          /*-webkit-*/
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1.2rem;
        }

        p {
          color: #625a71;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.getting-prepared {
  width: 100%;
  padding: 4vw 8vw;

  .content-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }
    .right {
      padding: 2vw;
      width: 50%;

      h1 {
        color: var(--secondary-color);
        font-size: 3vw;
      }
      p {
        color: #625a71;
      }
    }
  }

  .content-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      h1 {
        color: var(--secondary-color);
        font-size: 3vw;
      }

      p {
        color: #625a71;
      }
    }
    .right {
      padding: 2vw;
      width: 50%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .content-3 {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      margin-bottom: 10px;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5vw;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #625a71;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;

      .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;

        .house-sketch {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }

        .circle {
          position: absolute;
          background-image: linear-gradient(
            var(--primary-color),
            var(--ternary-color)
          );
          color: rgb(255, 255, 255);
          border-radius: 50%;
          padding: 12px;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;

          &.circle1 {
            bottom: 10%;
            left: 5%;
          }

          &.circle2 {
            top: 40%;
            left: 20%;
          }

          &.circle3 {
            top: 50%;
            left: 30%;
          }

          &.circle4 {
            bottom: 15%;
            left: 25%;
          }

          &.circle5 {
            top: 40%;
          }
          &.circle6 {
            bottom: 20%;
            right: 20%;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: 40%;

        .info {
          font-size: 1rem;
          color: #333;

          h2 {
            background: -webkit-linear-gradient(
              var(--primary-color),
              var(--ternary-color)
            );
            /*-webkit-*/
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2rem;
          }

          p {
            color: #625a71;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .content-4 {
    width: 100%;
    padding-top: 2vw;
    h1 {
      text-align: center;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5vw;
    }
    p {
      text-align: center;
      color: #625a71;
    }

    .item {
      margin: 20px 0;

      span {
        text-align: center;
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.8vw;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 12px;
      }

      .info {
        margin-left: 40px;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 25px;
        height: 25px;
        border: 2px solid #b8afaf;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
      }

      /* When unchecked */
      input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        background-color: transparent;
        border-radius: 3px;
        transition: background-color 0.3s;
      }
      /* When checked */
      input[type="checkbox"]:checked::before {
        background-image: linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
      }
      input[type="checkbox"]:checked {
        border-image: linear-gradient(
          var(--primary-color),
          var(--ternary-color),
          1
        );
        background-color: #e0f7ff; /* Slight background when checked */
      }
    }
  }
}

.feeding {
  width: 100%;
  padding: 4vw 8vw;

  .content-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }
    .right {
      padding: 2vw;
      width: 50%;

      h1 {
        padding: 1vw 0;
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3vw;
      }
      p {
        color: #625a71;
        line-height: 1.8vw;
      }
    }
  }

  .content-2 {
    width: 100%;
    padding-top: 2vw;
    h2 {
      padding: 1vw 0;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3vw;
    }
    p {
      line-height: 1.8vw;
      color: #625a71;
    }
  }

  .content-3 {
    width: 100%;
    padding-top: 2vw;
    h1 {
      text-align: center;
      padding: 1vw 0;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3vw;
    }
    p {
      text-align: center;
      padding: 1vw 0;
      line-height: 1.8vw;
      color: #625a71;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .content-4 {
    width: 100%;
    padding-top: 2vw;
    h1 {
      text-align: center;
      padding: 1vw 0;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3vw;
    }
    p {
      text-align: center;
      padding: 1vw 0;
      line-height: 1.8vw;
      color: #625a71;
    }
    img {
      width: 100%;
      height: auto;
    }

    .dropdown {
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
      color: #625a71;

      .dropdown-btn {
        width: 100%;
        background-color: white;
        border: none;
        text-align: left;
        font-size: 18px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #f1f1f1;
          color: var(--ternary-color);

          .arrow {
            color: var(--ternary-color);
          }
        }

        &.active {
          color: var(--ternary-color);

          .arrow {
            color: var(--ternary-color);
          }
        }
      }

      .dropdown-content {
        display: none;
        padding: 10px;
        font-size: 1vw;
        color: #625a71;
        text-align: left;

        ul {
          padding-left: 2vw;
        }
      }

      .arrow {
        transition: transform 0.3s, color 0.3s;
        color: #333;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.health {
  width: 100%;
  padding: 4vw 8vw;

  .content-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }

    .right {
      padding: 2vw;
      width: 50%;

      h1 {
        padding: 1vw 0;
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3vw;
      }
      p {
        color: #625a71;
        line-height: 1.8vw;
      }
    }
  }

  .content-2 {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;

    h1 {
      text-align: center;
      margin-bottom: 10px;
      padding: 1vw 0;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3vw;
    }

    .intro {
      text-align: center;
      font-size: 16px;
      color: #625a71;
      margin-bottom: 20px;
    }

    .tips-list {
      list-style-type: decimal;
      color: #625a71;
      padding-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }
  }
}

.training {
  width: 100%;
  padding: 4vw 8vw;

  .content-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }

    .right {
      padding: 2vw;
      width: 50%;

      h1 {
        padding: 1vw 0;
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3vw;
      }
      p {
        color: #625a71;
        line-height: 1.8vw;
      }
    }
  }

  .content-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      padding: 1vw;
      width: 50%;

      h1 {
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3vw;
      }
      p {
        color: #625a71;
        line-height: 1.8vw;
      }
    }

    .right {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;

    .slide {
      display: none;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 2vw 5vw;

      &.active {
        display: flex;
      }

      .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          background: -webkit-linear-gradient(
            var(--primary-color),
            var(--ternary-color)
          );
          /*-webkit-*/
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 2.5vw;
        }
      }

      .image {
        width: 50%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      cursor: pointer;
      user-select: none;
      font-size: 18px;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }
  }

  .content-3 {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      margin-bottom: 10px;
      background: -webkit-linear-gradient(
        var(--primary-color),
        var(--ternary-color)
      );
      /*-webkit-*/
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5vw;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #625a71;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;

      .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;

        .house-sketch {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: 40%;

        li {
          color: #625a71;
          font-size: 0.9rem;
          line-height: 2vw;
        }
      }
    }
  }
}

.grooming {
  width: 100%;
  padding: 4vw 8vw;
  .content-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .left {
      width: 50%;
      padding: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }

    .right {
      padding: 2vw;
      width: 50%;

      h1 {
        padding: 1vw 0;
        background: -webkit-linear-gradient(
          var(--primary-color),
          var(--ternary-color)
        );
        /*-webkit-*/
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3vw;
      }
      p {
        color: #625a71;
        line-height: 1.8vw;
      }
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

/* Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  cursor: pointer;
}

/* General Styling for the Section */
.community-join-section {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Headline Styling */
.community-join-section h2 {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Subheadline and Text Styling */
.community-join-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.community-join-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.community-join-section li {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  font-family: "Verdana", sans-serif;
  padding-left: 20px;
  position: relative;
}

.community-join-section li::before {
  content: "🐾"; /* Paw print as bullet point */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

/* Join Button Styling */
#joinButton {
  background: -webkit-linear-gradient(
    var(--primary-color),
    var(--ternary-color)
  );
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#joinButton:hover {
  background: -webkit-linear-gradient(
    var(--primary-color),
    var(--ternary-color)
  );
  /*-webkit-*/
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transform: scale(1); */
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}
.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
