:root {
  --primary-color: hsl(197, 63%, 42%);
  --primary-color-light: hsl(187, 100%, 36%);
  --secondary-color: hsl(176, 100%, 38%);
  --ternary-color: hsl(153, 62%, 59%);
  --ternary-color-light: hsl(100, 73%, 72%);
  --highlight-color: hsl(60, 92%, 71%);
  --white: hsl(0, 0%, 100%);
  --balck: hsl(0, 0%, 0%);
  --color: linear-gradient(hsl(187, 100%, 36%), hsl(153, 62%, 59%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url(../img/Background1.svg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-box {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  /* Space between the green and right boxes */
  align-items: flex-end;
  /* Align items to the bottom */
}

.Heading_box {
  background-color: var(--ternary-color);
  border-radius: 10px;
  width: 90%;
  /* Account for right box width */
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 5px;
  /* 5px gap from the bottom */
}

.right-box {
  width: 10%;
  border-radius: 10px 10px 0 0;
  background-color: white;
  height: 60px;
  /* Increased height for better alignment */
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  /* Stick to the right */
  margin-bottom: 0;
  /* Stick to the bottom */

  a {
    text-decoration: none;
  }
}

.white-box {
  width: 100%;
  height: auto;
  color: white;
  padding: 20px;
  margin-top: 0;
  /* Ensure the white box touches the bottom of the image div */
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  grid-gap: 2vw;
  /* height: 100vh; */
}

.about {
  padding: 1vw 2vw;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* background-color: rgb(116, 116, 116); */
  border-radius: 14px;
  /* border: 2px Solid var(--primary-color); */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Applies the blur effect */
  z-index: 999;

  h2 {
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }

  p {
    color: black;
    line-height: 3vw;
  }
}

.key_facts {
  padding: 2vw;
  grid-column: 2/ 3;
  grid-row: 1 / 4;
  border-radius: 14px;
  /* border: 2px Solid var(--primary-color); */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Applies the blur effect */
  z-index: 999;
  h2 {
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }

  li {
    padding-left: 2vw;
    color: black;
    line-height: 3vw;
  }
}

.grooming {
  padding: 2vw;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 14px;
  /* border: 2px Solid var(--primary-color); */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Applies the blur effect */
  z-index: 999;
  h2 {
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }

  p {
    color: black;
    line-height: 3vw;
  }
}

.behaviour {
  padding: 2vw;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-radius: 14px;
  /* border: 2px Solid var(--primary-color); */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Applies the blur effect */
  z-index: 999;
  h2 {
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }

  p {
    color: black;
    line-height: 3vw;
  }
}

.training {
  padding: 2vw;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  border-radius: 14px;
  /* border: 2px Solid var(--primary-color); */
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(8px); /* Applies the blur effect */
  z-index: 999;
  h2 {
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--ternary-color)
    );
    /*-webkit-*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }

  p {
    color: black;
    line-height: 3vw;
  }
}

/* Modal container styling */
.stay-tuned-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.155);
  text-align: center;
  z-index: 1000;
}

/* Icon styling */
.stay-tuned-container .icon {
  font-size: 50px;
  color: #ff5722;
  margin-bottom: 20px;
}

/* Heading styling */
.stay-tuned-container h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Paragraph styling */
.stay-tuned-container p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Backdrop styling */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/Background1.svg);
  z-index: 999;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
